/*--Variaveis para cor--*/
:root{
    --bkg-cinza: #9A9C9E;
    --bkg-cinza-claro: #F0F2F5;
}
/*----------------------*/

/*----Padrão------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.center{
    max-width: 1048px;
    width: 100%;
    margin: 0 auto;
}

.clear{
    clear: both;
}
/*----------------------*/

/*--estilo da pagina INDEX--*/
.section-group{
    width: 100%;
    height: auto;
    background-color: var(--bkg-cinza-claro);
}

.container-groups{
    width: 100%;
    height: auto;
    padding: 20px 2%;    
}

.container-groups a{
    text-decoration: none;
    text-align: center;
    color: #212529;
}

.container-groups a:hover{
    text-decoration: underline;
}

.groups{
    width: 200px;
    height: 200px;
    padding: 60px;
    background-color: var(--bkg-cinza);
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.groups img{
    width: 50px;
    height: 50px;;
}

.groups span{
    font-weight: bold;
    text-transform: uppercase;
}

footer{
    background-color: var(--bkg-cinza);
    text-align: center;
    
}

/*----------------------*/

/*--estilo da pagina ITENS--*/

.item-group{
    width: 100%;
    height: 700px;    
    background-color: var(--bkg-cinza-claro); 
}

.container-item{
    padding: 20px 5%;
}

.container-item ul li{
    list-style-type: none;
    
}

.container-item ul li img{
    width: 20px;
    height: 20px;
    position: relative;
    top: -2px;
}

.container-item table tr{
    border-bottom: 1px solid var(--bkg-cinza);
}

.container-item table tr td{
    padding-right: 15px;
    font-weight: bold;
    font-size: 18px;
}

.container-item table tr td button{
    background-color: transparent;
    border: 0;
}

.container-item table tr td button:hover{
    background-color: transparent;
    border: 0;
}

.modal-body form button{
    width: 25px;
    height: 25x;
    border: 0;
    background-color: transparent;
}

.modal-body form a img{
    width: 25px;
    height: 25px;
    position: relative;
    top: -2px;
}

#modal-body-desc{    
    text-align: center;
}

#modal-body-desc .line{
    width: 350px;
    text-align: center;
    margin: 0 auto;
    border-top: 1px solid #DEE2E6;
}

.modal-body p{
    text-align: center;
    margin-top: 15px;
}


/*----------------------*/

/*---estilo das paginas de cadastro---*/

.section-container-form{
    width: 100%;
    height: auto;
    padding: 20px 5%;
}

.container-form{
    width: 100%;
    height: auto;    
    padding: 20px 5%;
    align-items: center;
}

.container-form form{
    width: 100%;
    height: auto;
    background-color: var(--bkg-cinza);
    box-shadow: 5px 5px 5px 0px rgba(199,184,184,0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(199,184,184,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(199,184,184,0.75);
    padding: 20px 5%;
    font-weight: bold;
    
}

.container-form form select{
    margin-bottom: 10px;;
}

.container-form form input[type=text]{
    width: 350px;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-form form input[type=number]{
    height: 40px;
    padding: 10px;
}

.container-form form textarea{
    width: 350px;
    height: 200px;
}

.container-form form input[type=submit]{
    width: 100px;
    padding: 8px;
    margin-top: 10px;
    background-color: rgb(67,176,92);
    border: 0;
    font-weight: bold;
}

.container-form form input[type=submit]:hover{
    box-shadow: 5px 5px 5px 0px rgba(199,184,184,0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(199,184,184,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(199,184,184,0.75);
    transition: 0.5s;
}

.container-form form select{
    width: 350px;
    height: 40px;
}

/*----------------------*/

/*--estilo pagina de login--*/
.section-form-login{
    width: 100%;
    height: 700px;
    padding: 20px 2%;
    background-color: var(--bkg-cinza-claro);
}

.container-form-login{
    width: 100%;
    height: 400px;
    padding: 20px 2%;
    
}

.form-login{
    padding: 20px 2%;
    border: 1px solid black;
    padding-left: 400px;
}

.form-login input[type=text]{
    width: 164px;
}

.form-login input[type=password]{
    width: 164px;
}

.form-login input[type=submit]{
    width: 164px;
    height: 40px;
    border: 0;
    background-color: rgb(110, 110, 197);
}

.form-login input[type=submit]:hover{
    font-weight: bold;
}

/*----------------------*/

/*--estilo páginas de pesquisa*/

.container-table tbody button img{
    width: 40px;    
}

.container-table tbody button{
    width: 40px;
    border: 0;
    background-color: transparent;    
}

/*----------------------*/
