/*--Variaveis para cor--*/
:root{
    --bkg-cinza: #9A9C9E;
    --bkg-cinza-claro: #F0F2F5;
}
/*----------------------*/

/*----Padrão------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.center{
    max-width: 1048px;
    width: 100%;
    margin: 0 auto;
}

.clear{
    clear: both;
}
/*----------------------*/

/*--estilo da pagina INDEX--*/
.section-group{
    width: 100%;
    height: auto;
    background-color: var(--bkg-cinza-claro);
}

.container-groups{
    width: 100%;
    height: auto;
    padding: 20px 2%;    
}

.container-groups a{
    text-decoration: none;
    text-align: center;
    color: #212529;
}

.container-groups a:hover{
    text-decoration: underline;
}

.groups{
    width: 200px;
    height: 200px;
    padding: 60px;
    background-color: var(--bkg-cinza);
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.groups img{
    width: 50px;
    height: 50px;;
}

.groups span{
    font-weight: bold;
    text-transform: uppercase;
}

footer{
    background-color: var(--bkg-cinza);
    text-align: center;
    
}

/*----------------------*/

/*--estilo da pagina ITENS--*/

.item-group{
    width: 100%;
    height: 700px;    
    background-color: var(--bkg-cinza-claro); 
}

.container-item{
    padding: 20px 2%;
}

.container-item ul li{
    list-style-type: none;
    
}

.container-item ul li img{
    width: 20px;
    height: 20px;
    position: relative;
    top: -2px;
}

.container-item table tr{
    border-bottom: 1px solid var(--bkg-cinza);
}

.container-item table tr td{
    padding-right: 15px;
    font-weight: bold;
    font-size: 18px;
}

.container-item table tr td button{
    background-color: transparent;
    border: 0;
}

.container-item table tr td button:hover{
    background-color: transparent;
    border: 0;
}

.modal-body form button{
    width: 25px;
    height: 25x;
    border: 0;
    background-color: transparent;
}

.modal-body form a img{
    width: 25px;
    height: 25px;
    position: relative;
    top: -2px;
}


/*----------------------*/
